@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --font-stack: "DM Sans", sans-serif;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(0, 0%, 87%);
}

body {
  font-family: var(--font-stack);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
